@import "../../../sass/variables.scss";

.title-text-columns {
  margin: 25px 0;
  padding: 25px 0;

  opacity: 0;
  transform: translateY(30px);
  transition: $transitionMed;

  &.reveal {
    opacity: 1;
    transform: translateY(0);
  }

  @media all and (min-width: $tablet) {
    margin: 50px 0;
    padding: 50px 0;
  }
}

.title-text-columns-inner {
  .text-title-column {
    margin-bottom: 30px;

    p:nth-of-type(1) {
      color: $white;
      margin: 10px 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.2em;
    }

    p:nth-of-type(2) {
      margin: 0;
      color: $beige;
      font-size: 18px;
      line-height: 1.2em;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media all and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    .text-title-column {
      padding: 0 30px;
      margin-bottom: 0;
      text-align: center;
      flex: 0 0 calc(33.333% - 25px);

      p:nth-of-type(1) {
        font-size: 16px;
      }

      p:nth-of-type(2) {
        font-size: 24px;
      }
    }
  }
}
