@import "../../sass/variables.scss";

.title {
  color: $white;
  margin: 50px 0 0 0;
  font-size: 18px;
  font-weight: 300;
  background: -webkit-linear-gradient(0deg, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    font-family: $yaseva;
    font-style: italic;
  }

  @media all and (min-width: $tablet) {
    font-size: 24px;
  }
}

.view-all {
  color: $white;
  border: 2px solid;
  border-width: 2px;
  margin: 25px 0 80px 0;
  padding: 15px 25px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  border-image-slice: 1;
  justify-content: space-between;
  border-image-source: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
  transition: .25s $transition;

  span {
    display: inline-block;
  }

  svg {
    flex: 0 0 15px;
    display: inline-block;
  }

  @media all and (min-width: $tablet) {
    width: 195px;

    &:hover {
      width: 205px;
    }
  }
}
