@import "../../sass/variables.scss";

.home-header-text {
  color: $white;
  margin: 50px 0 30px 0;
  font-size: 36px;
  line-height: 1em;
  background: -webkit-linear-gradient(0deg, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    font-family: $yaseva;
    font-style: italic;
  }

  @media all and (min-width: $tablet) {
    font-size: 48px;
  }
}
