@import "../../../sass/variables.scss";

.text-pills {
  margin: 25px 0;
  padding: 25px 0;

  opacity: 0;
  transform: translateY(30px);
  transition: $transitionMed;

  &.reveal {
    opacity: 1;
    transform: translateY(0);
  }

  h3 {
    color: $beige;
    margin: 10px 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2em;
  }

  ul {
    padding: 0;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin: 5px;
      color: $beige;
      font-size: 10px;
      font-weight: 600;
      padding: 8px 20px;
      border-radius: 100px;
      list-style-type: none;
      border: 2px solid $beige;
      text-transform: uppercase;
    }
  }

  @media all and (min-width: $tablet) {
    text-align: center;

    h3 {
      margin: 20px 0;
      font-size: 32px;
    }

    ul {
      max-width: 800px;
      justify-content: center;

      li {
        font-size: 14px;
      }
    }
  }

  @media all and (min-width: $desktop) {
    margin: 50px 0;
    padding: 50px 0;
    text-align: center;
  }
}
